/* Base Application Styles */
#app-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;

}

#app {
  flex: 1;
}

.logoutBtn {
  border: none;
  background-color: transparent;
}

