@import "../colors";

.backButton {
  text-decoration: none;
  color: $color-text-lighter;
  font-size: 18px;
  transition: all .5s;

  &:hover {
    background-color: $color-text-lighter;
    color: $color-white;
  }
}
