@import "../colors";

.articleWrapper {
  padding: 56px 48px;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1.articleTitle {
    font-size: 30px;
    margin: 0;
    color: $color-text-normal;
  }

  .articleMeta {
    display: flex;
    padding-top: 16px;
    padding-bottom: 48px;
    justify-content: center;
    align-self: stretch;

    > * {
      margin-top: 0;
      margin-bottom: 0;
      color: $color-text-lighter;
      font-size: 14px;
    }


  }
  .articleContent {
    color: $color-text-normal;
    font-size: 18px;
    line-height: 30px;
    align-self: stretch;
    text-shadow: 0 0 5px #d0d0d0;
    user-select: none;

    .container > p:first-of-type:first-letter {
      font-size: 48px;
      line-height: 60px;
      float: left;
      font-weight: 500;
    }
  }

  .back {
    margin: 96px 0;
  }

}

