@import "../colors";

.listWrapper {
  padding: 56px 48px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 710px;
  a {
    text-decoration: none;
  }

  .listItem {
    padding-bottom: 48px;
    text-align: center;

    h1 {
      margin: 0;
      color: $color-text-normal;
      font-size: 24px;
      font-weight: normal;
    }

    .articleMeta {
      display: flex;
      padding-top: 8px;
      justify-content: center;

      > * {
        margin-top: 0;
        margin-bottom: 0;
        color: $color-text-lighter;
        font-size: 14px;
      }

      .author {
        margin-right: 8px;
      }

    }
  }
  .back {
    margin: 96px 0;
    display: flex;
    justify-content: center;
  }
}

