@import "../colors";

.articleWrapper {
  padding: 56px 48px;
  box-sizing: border-box;
  max-width: 710px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1.articleTitle {
    font-size: 30px;
    margin: 0;
    color: $color-text-normal;
  }

  .articleMeta {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    border-bottom: dashed 1px $color-divider;
    align-self: stretch;

    > * {
      margin-top: 0;
      margin-bottom: 0;
      color: $color-text-lighter;
      font-size: 18px;
    }

    .author {
      margin-right: 16px;
    }

  }
  .articleContent {
    color: $color-text-normal;
    font-size: 18px;
    line-height: 2.4;
  }

  .back {
    margin: 96px 0;
  }

}

