@import "../colors";

.index {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-image .5s, transform 5s;

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    color: $color-text-normal;
    font-size: 56px;
    font-weight: 400;
  }

  span {
    color: $color-text-lighter;
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
  }
  .action {
    margin: 0 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
    user-select: none;
    color: $color-text-lighter;
    text-decoration: none;

    &:hover {
      background-color: $color-text-lighter;
      color: $color-white;
    }

  }
  .footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-text-normal;
    font-size: 12px;
    a {
      text-decoration: none;
      color: $color-text-lighter;
    }
  }
}
