@import "../colors";

.index {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    color: $color-text-normal;
  }

  span {
    color: $color-text-lighter;
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    font-size: 14px;
    background-color: transparent;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: solid 1px $color-divider;
    cursor: pointer;
    transition: all .5s;
    user-select: none;
    color: $color-text-normal;
    text-decoration: none;

    &:hover {
      background-color: $color-text-lighter;
      border: solid 1px transparent;
      color: $color-white;
    }

  }
  .footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-text-normal;
    font-size: 12px;
    a {
      text-decoration: none;
      color: $color-text-lighter;
    }
  }
}
